.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color:beige ;
}

.calculator {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 350px;
    border-radius: 2px;
}

.output {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: rgba(0,0,0,0.3);
    height: 30%;
    width: 100%;
    border-radius: 7px;
}

.previous-operant,.current-operant {
    display: flex;
    height: 50%;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-end;
}

.output span {
    margin: 5%;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}

.calculator .buttons {
    display: flex;
    flex-wrap: wrap;
    height: 70%;
    width: 100%;
}

.calculator .buttons button {
    display: flex;
    width: 25%;
    justify-content: center;
    font-size: 18px;
    border: 0.4px solid #ccc;
    border-radius: 6px;
}

.calculator .buttons button:hover {
    background-color: rgba(0,0,0,0.8);
    cursor: pointer;
}

.black {
    background-color: black;
    color: white;
    font-weight: bold;
}

.difum {
    background-color: rgba(0,0,0,0.8);
    color: #ccc;
}